
#header{
      height: 46px;
      background-color: #000;
}
#nav{
      position: relative;
      margin-left:-15px
}
#logo{
      overflow: hidden;
}
#nav li{
      display: inline-block;
}
#nav li:hover .sub-nav{
      display: block;
      display: flex;
      flex-direction: column;
}
#nav .sub-nav{
      /* display: none; */
      position: absolute;
      display: flex;
      flex-direction: column;
      box-shadow:0 0 10px rgba(0,0 ,0, 0.3) ;
      display: none;
      z-index: 1;
}
#nav .sub-nav li{
      background-color: #fff;
}
#nav .sub-nav li a{
      color:black;
}
#nav .sub-nav li:hover{
      background-color: #ccc;
}
#nav li a{
      color:#fff;
      font-size: 15px;
      font-family: "Lato", sans-serif;
      line-height: 46px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0px 24px;
}
#nav>li:hover {
      background-color: #ccc;
      color:#000
}
#nav>li:hover>a{
      color:black
}


/* phần slider */

#slider{
      position: relative;
      padding-top: 50%;
      background:url('../the_band_image/ny.jpg') top center / cover no-repeat;
}
#slider .text-content{
      position: absolute;
      bottom: 47px;
      left:50%;
      transform: translateX(-50%);
      text-align: center;
}
.text-heading{
      font-size: 24px;
      font-family:"Segoe UI",Arial,sans-serif;
      color:#fff;
      font-weight: 400;
      margin:10px 0;
      line-height: 1.5;
      text-transform: capitalize;
}
.text-description{
      font-size: 15px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      color:#fff
}


/* phần band_des */
.wrapper{
      padding: 64px 16px;
}
.band_des_heading{
      text-align: center;
      margin: 10px auto;
      font-size: 30px;
      font-family:"Segoe UI",Arial,sans-serif ;
      letter-spacing: 4px;
      font-weight: 400;
      line-height: 1.5;
      text-transform: uppercase;
}
.band_des_subheading{
      text-align: center;
      margin: 15px auto;
      line-height: 1.5;
      font-size: 15px;
      font-family: "Lato", sans-serif;
      opacity: 0.6;
      font-style: italic;
}
.band_des_text{
      text-align: justify;
      font-size: 15px;
      line-height: 1.5;
      font-family: "Lato", sans-serif;
      margin: 15px auto;
}
.band_des_img{
      display: flex;
      justify-content: center;
      /* justify-content: space-around; */
      padding: 0 16px 64px 16px;

}
.img_name{
      text-align: center;
      font-size: 15px;
      font-family: "Lato", sans-serif;
      line-height: 1.5;
      text-transform: capitalize;
}
.img_member{
      width: 70%;
      margin-bottom: 16px;

}

#ticket{
      width: 100%;
      background-color: #000;
}
.covering{
      max-width: 800px;
      padding-top: 64px !important;
      margin-left: auto;
      margin-right: auto;
}
.ticket_heading{
      color: #fff;
      text-align: center;
      font-family:"Segoe UI",Arial,sans-serif;
      font-weight: 400;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin: 10px 0;
}
.ticket_des{
      text-align: center;
      font-size: 15px;
      font-style: italic;
      line-height: 1.5;
      color:#ccc;
      letter-spacing: 4px;
      margin: 15px 0;
}

.infor_ticket{
      list-style: none;
      background-color: #fff;
      left: 0;
}
.infor_ticket_text{
      border-bottom: 1px solid #ccc;
      color:rgb(82, 80, 80)
}
.number-right{
      float: right !important;
      border-radius: 50%;
      background-color: #000;
      text-align: center;
}
span{
      background-color:#f44336;
      font-size: 16px;
      color: #fff;
      padding: 0 5px;
      text-transform: capitalize;
}

.embrace{
      display: flex;
      flex-direction: row;
      background-color: #000;
      padding-bottom: 100px;
}
.infor_ticket_img{
      padding: 35px 9px;
}
.infor_ticket_img:nth-child(1){
      padding-left: 0;
}
.infor_ticket_img:nth-child(3){
      padding-right: 0;
}
.infor_ticket_img img{
      width: 100%;
}
.text-section{
      background-color: #fff;
}
.infor_ticket_img_text{
      font-size: 15px;
      line-height: 1.5;
      font-family: "Lato", sans-serif;
      font-weight: bolder;
      padding-top: 15px;
      text-transform: capitalize;
}

.infor_ticket_img_days{
      opacity: 0.6;
      font-size: 15px;
      line-height: 1.5;
      font-family: "Lato", sans-serif;
}
.infor_ticket_img_btn{
      margin-bottom: 15px;
      border: none;
      background-color: black;
      color:white;
      padding:10px 15px;
      text-transform: capitalize;
      border-radius: 25px;
}

.infor_ticket_img_btn:hover{
      background-color: #ccc;
      color: #000;
      cursor: pointer;
}


/* phần contact */
/* #contact{
      /* padding-bottom: 50px; */
*/
.wrap{
      padding:64px 0;
}
.contact-heading{
      text-align: center;
      letter-spacing: 4px;
      font-family:"Segoe UI",Arial,sans-serif;
      font-weight: 400;
      margin: 10px 0;
      text-transform: uppercase;
      font-size: 30px;
}
.contact_subtitle{
      text-align: center;
      font-style: italic;
      opacity: 0.6;
      font-family: "Lato", sans-serif;
      font-size:15px;
      line-height: 1.5;
      margin: 15px 0;
}

.form_section{
      padding:32px 0;
      max-width: 800px;
      margin:0 auto;
}

.form_section li{
   /* text-align: center; */
   list-style-type: georgian;
   font-size: 15px;
   line-height: 1.5;
   font-weight: bold;
   margin: 5px 0;
}
.btn{
      float: right;
      background-color: #000;
      border: none;
}
/* end contact */


#map-section img{
      width: 100%;
}

#footer{
      padding:64px 16px;
      background-color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      font-weight: bolder;

}


/* responsive */
@media only screen and ( max-width:768px ) {
      .text-content{
            display: none;
      }
      .embrace{
            flex-direction: column;
            margin:10px;
      }
      .infor_ticket{
            margin:0 15px;
      }
      .form-row{
            display: flex;
            flex-direction: column;
      }
}